.rounded {
    border-radius: 0.25rem !important;
}

.btn-primary,
.btn-secondary:not(.dropdown-toggle):not(.dropdown-item),
.btn-secondary.o_arrow_button:not(.dropdown-item) {
    text-transform: inherit;
}

//== Badges
.badge {
    min-width: 3ch;
    padding-top: 0.4em;

    &.text-bg-default,
    &.bg-light,
    &.text-bg-light,
    &.bg-default,
    &.text-primary {
        color: $o-enterprise-primary-color !important;
    }
}

// restore default BS font-weight value for strong, b for compatibility with roboto font
// See /web/static/src/webclient/webclient.scss
b,
strong {
    font-weight: $font-weight-bolder;
}

@media (max-width: 767.98px) {
    .o_web_client.o_touch_device {
        .o_back_button {
            font-size: 1.5rem;
        }
        .btn {
            padding: 7px 12px;
        }
    }
}
