.o_PartnerImStatusIcon_icon {
    &.o-bot {
        color: $brand-primary;
    }

    &.o-offline {
        color: gray('500');
    }

    &.o-online {
        color: $brand-primary; 
    }
}

.text-primary {
	color: $brand-primary !important;
}
