.o_PersonaImStatusIcon_icon {
	&.o-offline {
        color: $gray-500 !important;
    }
}
.o_PartnerImStatusIcon_icon {
    &.o-bot {
        color: $brand-primary;
    }

    &.o-offline {
        color: $gray-500;
    }

    &.o-online {
        color: $brand-primary; 
    }
}
.o_ThreadIcon_offline {
	color: $gray-500;
}
