
//------------------------------------------------------------------------------
// Fields
//------------------------------------------------------------------------------
.o_field_widget:focus-within{
	&.o_input,
	.o_input{
		border-bottom: 1px solid $brand-primary;
	}
}

.text-bg-success {
    color: $light !important;
}

.text-bg-warning {
    color: $light !important;
}
