
//------------------------------------------------------------------------------
// Fields
//------------------------------------------------------------------------------
.o_field_widget{
	:focus-within{
		&.o_input,
		.o_input{
			border-bottom: 1px solid $brand-primary;
		}
	}
	&.o_field_many2one {
		.o_external_button {
			color: $o-enterprise-primary-color;
		}
	}
}

.text-bg-success {
    color: $light !important;
}

.text-bg-warning {
    color: $light !important;
}
