// Required
.o_required_modifier.o_field_widget{
	&.o_input,
	.o_input{
		background-color: $brand-secondary-super-lighter;
		&:focus{
			border-bottom: 1px solid $brand-secondary;
		}
	}
}

//------------------------------------------------------------------------------
// Fields
//------------------------------------------------------------------------------
.o_field_widget:focus-within{
	&.o_input,
	.o_input{
		border-bottom: 1px solid $brand-primary;
	}
}
