.o_form_view {

    // Button box
	.oe_button_box {
		.oe_stat_button {
			.o_button_icon {
				color: $o-brand-primary;
			}
			> .o_stat_info{
				.o_stat_value {
					color: $o-brand-primary !important;
				}
			}
			> span{
				.o_stat_value {
					color: $o-brand-primary !important;
				}
			}
        }
    }

	.o_form_statusbar {

		.o_statusbar_status {
			> .o_arrow_button {
				&.btn-primary{
					&.disabled {
						color: $brand-secondary;
						background-color: $gray-200;
						font-weight: $font-weight-bold;
						&:after, &:before {
                            border-left-color: $gray-200;
                        }
					}
				}
				&:not(.disabled) {
					&:hover,
					&:active,
					&:focus {
						color: $brand-secondary-dark;
					}
				}
			}
		}
	}
}
