.o_form_view {

    // Button box
	.oe_button_box {
		.oe_stat_button {
			.o_button_icon {
				color: $o-brand-primary;
			}
			> .o_stat_info{
				.o_stat_value {
					color: $o-brand-primary !important;
				}
			}
			> span{
				.o_stat_value {
					color: $o-brand-primary !important;
				}
			}
        }
    }
}

.o_field_statusbar {
    > .o_statusbar_status {
        > .o_arrow_button {
		 &.o_arrow_button_current.disabled {
                background-color: $brand-primary-dark;

                &:after, &:before {
                    border-left-color: $brand-primary-dark;
                }
            }
        }
	}
}

btn-link, a{
	text-decoration: none;
}
