.o_form_view {

    // Button box
	.oe_button_box {
		.oe_stat_button {
			.o_button_icon {
				color: $o-brand-primary;
			}
			> .o_stat_info{
				.o_stat_value {
					color: $o-brand-primary !important;
				}
			}
			> span{
				.o_stat_value {
					color: $o-brand-primary !important;
				}
			}
        }
    }
}

// Header Status Button
.o_field_statusbar {
    > .o_statusbar_status {
        > .o_arrow_button {
		 &.o_arrow_button_current.disabled {
                background-color: $brand-primary-dark;
                color: $light;

                &:after, &:before {
                    border-left-color: $brand-primary-dark;
                }
            }
        }
	}
}

// Log note/ Send message Button
.btn-fill-odoo, .btn-odoo {
	color: $white;
    background-color: $brand-primary-dark;
    border-color: $brand-primary-dark;
    &:hover{
		color: $white;
	}
}

.o_ChatterTopbar_button.btn-odoo.o-active
{
	background-color: $brand-primary-dark !important;
}

btn-link, a{
	text-decoration: none;
}
