.o_apps_menu_opened {
    .o_main_navbar {
        background-color : transparent;
    }
}

.o_main_navbar {
    background-color : white;
	border-bottom: none !important;

	a.dropdown-toggle{
			    text-decoration: none;
		}
}
// = SuperUser Design
// ============================================================================
body.o_is_superuser .o_menu_systray {
  &:before {
    background-color: inherit;
  }
}

.o_main_navbar {
	.o_menu_systray > * {
		 > a, > .dropdown > a, > button, > label {
			.badge {
				height: auto;
				border-radius: 0.25rem;
				background-color: var(--o-navbar-badge-bg, #{$o-enterprise-primary-color});
				color:white;
            }
		}
	}
}
