.o_main_navbar {
	background-color : $brand-primary-dark;
	border-bottom: 1px solid $brand-primary-darker;

	.show {
		.dropdown-toggle {
			background-color: $brand-primary-darker;
		}
	}

	a.dropdown-toggle{
			    text-decoration: none;
		}

	> a,
	> button {
		&:hover,
		&:focus {
			background-color: $brand-primary-dark;
		}
	}

	> ul {
		> li {
			&.o_extra_menu_items {
				&.show {
					> ul {
						> li {
							> a {
								&.dropdown-toggle {
									background-color: $brand-primary-dark !important;
								}
							}
						}
					}
				}
			}
			> label,
			> a {
				&:hover,
				&:focus{
					background-color: $brand-primary-dark;
				}
			}
		}
	}
}
// = SuperUser Design
// ============================================================================
body.o_is_superuser .o_menu_systray {
  &:before {
    background-color: inherit;
  }
}

.o_main_navbar {
	.o_menu_systray > * {
		 > a, > .dropdown > a, > button, > label {
			.badge {
                background-color: var(--o-navbar-badge-bg, #{$o-enterprise-primary-color});
            }
		}
	}
}

.btn-fill-odoo, .btn-odoo {
	color: $white;
    background-color: $brand-primary-dark;
    border-color: $brand-primary-dark;
    &:hover{
		color: $white;
	}
}
