$o-root-font-size: 13px !default;
// Change colors here
$o-community-color: #00bbce;
$o-enterprise-color: #00bbce;
$o-enterprise-primary-color: #7f4282;

$o-brand-primary: $o-community-color !default;
$o-brand-odoo: $o-community-color !default;
$o-brand-primary: $o-enterprise-primary-color;
$brand-primary: $o-enterprise-color;
$brand-secondary: $o-enterprise-primary-color;
$o-tip-color: $brand-primary;
$o-tip-border-width: 2px;

$brand-primary-dark: darken($brand-primary, 10%);
$brand-primary-darker: darken($brand-primary, 20%);
$brand-primary-light: lighten($brand-primary, 10%);
$brand-primary-lighter: lighten($brand-primary, 20%);
$brand-primary-super-light: lighten($brand-primary, 50%);

$brand-secondary-dark: darken($brand-secondary, 10%);
$brand-secondary-darker: darken($brand-secondary, 20%);
$brand-secondary-light: lighten($brand-secondary, 10%);
$brand-secondary-lighter: lighten($brand-secondary, 20%);
$brand-secondary-super-light: lighten($brand-secondary, 50%);
$brand-secondary-super-lighter: lighten($brand-secondary, 55%);
