.o_view_nocontent {
	.o_nocontent_help {
		.o_view_nocontent_expense_receipt:before {
			@extend %o-nocontent-init-image;
			background: transparent url(/viin_brand_hr_expense/static/img/phone-bill.png) no-repeat center;
			background-size: 300px 230px;
			margin-bottom: 1rem;
        }
    }
}
