// = Search Bar
// ============================================================================

.o_searchview_facet {
	.o_facet_values {
        border: $border-width solid var(--SearchBar-facet-background, #{$brand-primary-dark});
        &.border-odoo{
			border: $border-width solid var(--SearchBar-facet-background, #{$brand-primary-dark}) !important;
		}
    }
    .o_searchview_facet_label {
        background: var(--SearchBar-facet-background, #{$brand-primary-dark});
        --background-color: #{$brand-primary-dark};
        color: $o-white !important; // orignal is black
        border-color: $brand-primary-dark;  // orignal is yellow
    }
    div.o_searchview_facet_label.btn-primary {
        border-color: transparent !important;
    }
}
