.o_Composer_textInput {
    &.o-has-current-partner-avatar.o-composer-is-compact {
        border-radius: inherit;
    }
}

.o_Composer_coreMain:not(.o-composer-is-compact) {
    border-radius: inherit;
}

.o_Composer {
    &:not(.o-messaging-in-editing) {
        background-color: $light;
    }
}
