.o_livechat_button {
    background-color: $o-brand-primary !important;
}
.o_thread_window {
	.o_composer_text_field {
        line-height: 2em;
		border: 1px solid $gray-200;
		font-size: 1.3em;

		&:hover,
		&:active,
		&:focus {
			border: 1px solid $gray-200;
			border-bottom: $brand-primary;
		}
    }

	.o_thread_window_header {
		height: auto;
        background-color: darken($brand-primary, 5%) !important;
	}	
}
