:root {
    .o_grid_apps_menu[data-theme="viindoo"] {
        --app-menu-text-color: #364050;
        --apps-menu-scrollbar-background: #364050;
        --apps-menu-empty-search-color: #364050;
    }
}
