// override web_responsive
.o_list_view {
    .table-responsive {
        overflow: visible;
        .o_list_table {
        	thead tr:nth-child(1) th {
                box-shadow: inset 0 0 0 $gray-300,
                    inset 0 -1px 0 $gray-300;
            }
            tfoot tr:nth-child(1) td {
                box-shadow: inset 0 1px 0 $gray-300,
                    inset 0 0 0 $gray-300;
            }
        }

    }
}
