.o_searchview
{
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid $gray-200;
    .o_searchview_facet {
        .o_searchview_facet_label {
            background-color: $brand-primary-dark;
        }
    }

}

.o_web_client {
	.o_searchview_input {
		border: 0;
		border-radius: 0;
		border-bottom: 1px solid $white;
		&:focus, &:hover {
			outline: none;
			border: 0;
			border-bottom: 1px solid $brand-primary !important;
		}
	}
}

.dropdown-item:focus{
	background-color: transparent;
}

.btn-link {
	text-decoration: none;
}
