.o_searchview
{
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid $gray-200;
    .o_searchview_facet {
        .o_searchview_facet_label {
            background-color: $brand-primary-dark;
        }
		// Because gantt view use legacy type so it's going to load legacy view, 
		// in legacy we have class text-bg-odoo which is not respect our color
		.o_searchview_facet_label.text-bg-odoo {
			color: $o-white !important; // orignal is black
		}
    }

}

.dropdown-item:focus{
	background-color: transparent;
}

.btn-link {
	text-decoration: none;
}
