.o_main_navbar {
	background-color : $brand-primary-dark;
	border-bottom: 1px solid $brand-primary-darker;

	.show {
		.dropdown-toggle {
			background-color: $brand-primary-darker;
		}
	}

	> a,
	> button {
		&:hover,
		&:focus {
			background-color: $brand-primary-dark;
		}
	}

	> ul {
		> li {
			&.o_extra_menu_items {
				&.show {
					> ul {
						> li {
							> a {
								&.dropdown-toggle {
									background-color: $brand-primary-dark !important;
								}
							}
						}
					}
				}
			}
			> label,
			> a {
				&:hover,
				&:focus{
					background-color: $brand-primary-dark;
				}
			}
		}
	}
}
