.o_searchview
{
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid $gray-200;
    .o_searchview_facet {
        .o_searchview_facet_label {
            background-color: $brand-primary-dark;
        }
    }

}

.o_web_client {
	input,
	textarea,
	select {
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid $gray-200;
		&:focus {
			outline: none;
			border: 0;
			border-bottom: 1px solid $brand-primary;
		}
	}
	.o_mobile_search {
		.o_mobile_search_header {
			background-color: $brand-primary-dark;
			span {
				&:active {
					background-color: $brand-primary-darker;
				}
			}
		}
	}
}