.o_main_navbar {
	background-color : $v-brand-primary;
	border-bottom: 1px solid $v-brand-primary-dark;
	
	.show {
		.dropdown-toggle {
			background-color: $v-brand-primary-dark !important;
			color: #ffffff !important;
		}
		.dropdown-header{
			font-size: inherit;
			text-decoration: none;
		}
	}
	
	> a,
	> button {
		&:hover,
		&:focus {
			background-color: $v-brand-primary;
			color: inherit;
		}
	}
	
	> ul {
		> li {
			> label,
			> a {
				&:hover,
				&:focus{
					background-color: $v-brand-primary-dark;
				}
			}
		}
	}
}

.picker-switch{
	span.fa.primary {
		background-color : $v-brand-primary;
	}
	span.fa.primary:hover {
		background-color : $v-brand-primary-dark;
	}
}