#oe_main_menu_navbar {
	.o_menu_systray {
		> li {
			> a[data-action="edit"],> a.css_edit_dynamic,> a[data-action="translate"] {
    			background-color: $v-brand-primary;
    			border-color: $v-brand-primary;
				&:active{
					background-color: $v-brand-primary !important;
    				border-color: $v-brand-primary !important;
				}
				&:focus{
					box-shadow: 0 0 0 0.2rem rgba($v-brand-primary, 0.5);
				}
				&:hover{
					background-color: $v-brand-primary-dark;
    				border-color: $v-brand-primary-dark;
				}
			}
		}
	}
}