.oe_form_field_html{
    a.btn{
        &.btn-primary,
        &.btn-fill-primary{
            // Ensure the link is visible enough in the editor.
            // for flat button class
            // and for fill button class
            $oe-link-color: o-color('o-cc3-link');
            color: if($oe-link-color, $oe-link-color, $white);
        }
    }
}
