// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------
.o_Message {
    padding-top: 5px;
    padding-bottom: 0;
}
.o_Message_sidebarItem {
    font-size: 0.9em;
}
.o_Message_sidebar {
    &.o-message-squashed{
        align-items: baseline;
    }
}
.o_Message_header {
    color: $text-muted;
}
.o_Message_content {
    *:not(li):not(li div) {
        // Avoid vertical scroll caused by the following code in Odoo 14:
        // https://github.com/odoo/odoo/blob/3e598a8014966e1a07a08d53bf85050b458e05a6/addons/mail/static/src/components/message/message.scss#L56
        overflow-x: inherit;
    }
}